{% extends 'base.html' %}

{% block content %}

<h1>Choose and activate your own honeypots</h1>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Activate Heralding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Introduction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disable</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Please go through the introduction and make sure you actually need it before decide to activate Heralding</h5>
    <p class="card-text">Click the button to acticate Heralding. You can also Click Disable in the navbar to disable Heralding when you no longer need it!</p>
    <a href="#" class="btn btn-warning">Activate Heralding</a>
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Activate Zeek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Introduction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disable</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Please go through the introduction and make sure you actually need it before decide to activate Zeek</h5>
    <p class="card-text">Click the button to acticate Zeek. You can also Click Disable in the navbar to disable Zeek when you no longer need it!</p>
    <a href="#" class="btn btn-warning">Activate Zeek</a>
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Activate ElasticPot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Introduction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disable</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Please go through the introduction and make sure you actually need it before decide to activate ElasticPot</h5>
    <p class="card-text">Click the button to acticate Elasticpot. You can also Click Disable in the navbar to disable Elasticpot when you no longer need it!</p>
    <a href="#" class="btn btn-warning">Activate Elasticpot</a>
  </div>
</div>




{% endblock %}