{% extends 'base.html' %}

{% block content %}

<h1>Honeypot Catalog</h1>

<div class="alert alert-primary" role="alert">
  Check out honeypot <a href="#" class="alert-link">Heralding</a>. Click for more information.
</div>

<div class="alert alert-success" role="alert">
  Check out honeypot <a href="#" class="alert-link">Zeek</a>. Click for more information.
</div>

<div class="alert alert-info" role="alert">
  Check out honeypot <a href="#" class="alert-link">ElasticPot</a>. Click for more information.
</div>


{% endblock %}